#equipment-list {
	overflow-y: auto;
	padding-right: 1em;
	max-height: 60vh;
	border-bottom: 1px solid;
}

.menuactor-equipment-slot {
	font-weight:bold;
	color:gray;
	line-height:1;
}

.menuactor-equipment-name {
	position:relative;
	left:1.5em;
	display:inline-block;
	margin-bottom:0.5em;
}

.unequip-button {
	float: right;
}
