/* Styles relating to the display of the help file. You will likely wish to delete or override this for your own stories. */

a.link-external::after {
  visibility: hidden;
  content: "";
}

img {
  max-width: 100%;
}

body.text {
  background-color: tan;
}

pre {
	background-color: silver;
	padding: 0px 3px;
}
pre > code {
	padding: 0px;
}