.statusname {
  text-transform: uppercase;
  text-align: center;
}

.effectdesc {
  font-weight: normal;
}

.duration, .tolerance {
  color: gray;
  font-style: italic;
  float: right;
}

.pane-header {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 1px solid;
}
