.statusname {
  text-transform: uppercase;
  text-align: center;
}

.statBlock {
	display:grid;
	grid-template-columns: 6em 3em 1em;
}

.statname {
  text-transform: uppercase;
  grid-column: 1;
}

.stat {
	text-align: right;
  grid-column: 2;
}

.effectdesc {
  font-weight: normal;
}

.duration, .tolerance {
  color: gray;
  font-style: italic;
  float: right;
}
