/* Changes the formatting of ul elements (bullet-point lists) to look like text-adventure prompts. Useful for displaying choices in a list. */

#passages ul li::marker {
  content: '>';
  font-weight: bold;
  font-family: monospace;
}

#passages ul li {
  padding-left: 0.5em;
}
